<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="selectedClub">{{ selectedClub.name }}</ion-title>
    <ion-title *ngIf="!selectedClub">Wähle deinen Verein</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" size-md='6' offset-md='3'>
      <ion-button type="button" expand="block" fill="clear" (click)="resetSelectedClub()" *ngIf="selectedClub">
        Ausgewählter
        Verein ändern
      </ion-button>
      <ion-grid *ngIf="!selectedClub">
        <ion-list *ngFor="let club of clubs">
          <ion-card button (click)="setSelectedClub(club)">
            <ion-card-content>
              {{ club.name }}
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-grid>

      <div *ngIf="selectedClub">
        <ion-list *ngFor="let player of players">
          <ion-item-sliding>
            <ion-item>
              <ion-button *ngIf="hasAdminRole() && isDesktop()" slot="end" color="danger" size="medium"
                (click)="promtForDeletion(player)" [disabled]="entryIsMe(player)">
                <ion-icon name="person-remove-sharp"></ion-icon>
              </ion-button>
              <ion-label>
                <h2>{{ player.name }}</h2>
                <h3> {{ player.email }}</h3>
              </ion-label>
            </ion-item>
            <ion-item-options side="end" *ngIf="hasAdminRole() && !isDesktop()">
              <ion-item-option (click)="promtForDeletion(player)" [disabled]="entryIsMe(player)" color="danger">
                <ion-icon name="person-remove-sharp"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>


  <ion-footer *ngIf="selectedClub">
    <ion-button expand="full" id="openModal" color="primary">
      Spieler hinzufügen
    </ion-button>

    <ion-modal trigger="openModal" [initialBreakpoint]="0.7" [breakpoints]="[0, 0.7, 1]">
      <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="dismissModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content no-padding>

          <ion-label style="margin-top: 5%; text-align: center;">Füge einen Spieler zu {{ selectedClub.name }} hinzu.
          </ion-label>

          <form [formGroup]="newPlayerForm" (ngSubmit)="submitForm()">
            <ion-card>
              <ion-item lines="full">
                <ion-label position="floating">Spielername</ion-label>
                <ion-input formControlName="name" type="text"> </ion-input>
                <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors">Ungültiger Name
                </ion-note>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">E-Mail</ion-label>
                <ion-input formControlName="email" type="text" (ionBlur)="checkForDuplicatedPlayer()"></ion-input>
                <ion-note slot="helper">Der Spieler bekommt einen Aktivierungslink an diese E-Mail-Adresse geschickt
                </ion-note>
                <!-- <ion-note slot="error" *ngIf="emails?.errors?.duplicate">
                  Dieser Spieler existiert bereits im Verein
                </ion-note> -->
                <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email?.errors?.required">
                  Ungültige E-Mail-Adresse
                </ion-note>
                <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email?.errors?.duplicate">
                  Dieser Spieler existiert bereits im Verein
                </ion-note>
              </ion-item>

              <!-- <ion-item lines="full">
                <ion-label>Als Admin hinzufügen</ion-label>
                <ion-checkbox color="primary" formControlName="isAdmin"></ion-checkbox>
              </ion-item> -->

              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="primary" expand="block" [disabled]="!newPlayerForm.valid">
                    Code versenden</ion-button>
                </ion-col>
              </ion-row>
            </ion-card>

          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-footer>

</ion-content>