<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="selectedClub">{{ selectedClub.name }}</ion-title>
    <ion-title *ngIf="!selectedClub">Wähle deinen Verein</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab *ngIf="selectedClub && hasAdminRole()" horizontal="end" vertical="bottom" slot="fixed"
    style="margin: 0 10% 20% 0;">
    <ion-fab-button color="primary" (click)="openNewMatchModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-row>
    <ion-col size="12" size-md='6' offset-md='3'>
      <ion-button type="button" expand="block" fill="clear" (click)="resetSelectedClub()" *ngIf="selectedClub">
        Ausgewählter
        Verein ändern
      </ion-button>
      <ion-grid *ngIf="!selectedClub">
        <ion-list *ngFor="let club of clubs">
          <ion-card button (click)="setSelectedClub(club)">
            <ion-card-content>
              {{ club.name }}
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-grid>

      <ion-grid *ngIf="selectedClub">
        <ion-list *ngFor="let match of matches">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ match.isHome ? 'Heimspiel' : 'Auswärtsspiel' }} gegen {{ match.opponent }}
              </ion-card-subtitle>
              <ion-row>
                <ion-card-title>{{ match.startDate | date:'EE, dd.MM.yy' }} </ion-card-title>
                <ion-button (click)="openNewMatchModal(match)" fill="clear" size="small" style="margin-top: 0%;">
                  <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-row>
            </ion-card-header>
            <div>
              <ion-item text-wrap>
                <ion-icon name="time-outline" slot="start"></ion-icon>
                <ion-label> {{match.startDate | date:"HH:mm ":"+0000"}} Uhr</ion-label>
              </ion-item>
              <ion-item text-wrap>
                <ion-icon name="flag-outline" slot="start"></ion-icon>
                <ion-label>{{ match.city }}</ion-label>
              </ion-item>
              <ion-item text-wrap>
                <ion-icon name="location-outline" slot="start"></ion-icon>
                <ion-label text-wrap>{{match.meetingPoint }}</ion-label>
              </ion-item>
            </div>
            <div>
              <ion-text class="center"><b>Teilnahme</b></ion-text>
              <ion-segment [(ngModel)]="match.doParticipate" (ionChange)="selectParticipation(match)" color="primary"
                scrollable class="center" [disabled]="match.isBlocked">
                <ion-segment-button value="true">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                  <ion-label>Ja</ion-label>
                </ion-segment-button>
                <ion-segment-button value="false">
                  <ion-label>Nein</ion-label>
                  <ion-icon name="close-circle-outline"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </div>
            <div>
            </div>
          </ion-card>
        </ion-list>

        <ion-text class="center" *ngIf="matches?.length == 0">Keine bevorstehenden Spiele für {{ selectedClub.name }}
          gefunden. </ion-text>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>