<ion-content>
  <div *ngIf="!isExistingUser" class="error">
    <ion-icon class="icon" name="information-circle-outline"></ion-icon>
    <i class="text">Um die Registrierung erfolgreich abzuschliessen benötigen wir noch einen Benutzeraccount.<br>
      Bitte unten registrieren.</i>
  </div>

  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Erstelle einen Account!</h1>
    </div>

    <form (ngSubmit)="register()" [formGroup]="credentials">

      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail-outline"> </ion-icon>
          <ion-item>
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input type="text" placeholder="E-Mail" formControlName="email" disabled="true"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Ungültige E-Mail-Adresse
            </ion-note>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-icon name="person-outline"> </ion-icon>
          <ion-item>
            <ion-label position="floating">Vor- und Zuname</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
            <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors">Mindestens 5 Zeichen
            </ion-note>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-icon name="lock-closed-outline"> </ion-icon>
          <ion-item>
            <ion-label position="floating">Passwort</ion-label>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Mindestens 6 Zeichen
            </ion-note>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-icon name="lock-closed-outline"> </ion-icon>
          <ion-item>
            <ion-label position="floating">Passwort wiederholen</ion-label>
            <ion-input type="password" placeholder="Password wiederholen" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Mindestens 6 Zeichen
            </ion-note>
          </ion-item>
        </div>
      </div>

      <div class="action-buttons ion-padding">
        <ion-button type="submit" expand="large" class="login-button" [disabled]="!credentials.valid">Registrieren
        </ion-button>

        <ion-button type="button" expand="large" color="light" fill="clear" (click)="navToLogin()">
          <p><u>Zurück zum
              Login</u></p>
        </ion-button>
      </div>

      <!-- <ion-button type="button" expand="block" color="tertiary">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Mit meinem Google Account registrieren
      </ion-button> -->
    </form>
  </div>

</ion-content>