<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="matchInput">Spiel bearbeiten</ion-title>
    <ion-title *ngIf="!matchInput">Neues Spiel</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" slot="icon-only">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="matchForm" (ngSubmit)="submitForm()" novalidate>
    <div class="input-group">
      <ion-item lines="full">
        <ion-label position="floating">Stadt</ion-label>
        <ion-input formControlName="city" type="text">
        </ion-input>
      </ion-item>

      <div *ngIf="(errorControl.city.dirty || errorControl.city.touched) && errorControl.city.errors" class="errors">
        <span *ngIf="errorControl.city.errors?.required">Pflichtfeld ausfüllen</span>
        <span *ngIf="errorControl.city.errors?.minlength">Mindestens 4 Zeichen</span>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Gegner</ion-label>
        <ion-input formControlName="opponent" type="text"></ion-input>
      </ion-item>

      <div *ngIf="(errorControl.opponent.dirty || errorControl.opponent.touched) && errorControl.opponent.errors"
        class="errors">
        <span *ngIf="errorControl.opponent.errors?.required">Pflichtfeld ausfüllen</span>
        <span *ngIf="errorControl.opponent.errors?.minlength">Mindestens 4 Zeichen</span>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Datum</ion-label>
        <ion-datetime (ionChange)="getDate($event)" formControlName="startDate" [min]="minDate" [value]="minDate"
          displayFormat="DD MMM YYYY">
        </ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Uhrzeit</ion-label>
        <ion-datetime (ionChange)="getTime($event)" formControlName="startTime" displayFormat="HH:mm">
        </ion-datetime>
      </ion-item>


      <ion-item lines="full">
        <ion-label position="fixed">Heimspiel</ion-label>
        <ion-checkbox color="primary" formControlName="isHome"></ion-checkbox>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Ort für Treffpunkt</ion-label>
        <ion-input formControlName="meetingPoint" type="text">
        </ion-input>
      </ion-item>

      <div
        *ngIf="(errorControl.meetingPoint.dirty || errorControl.meetingPoint.touched) && errorControl.meetingPoint.errors"
        class="errors">
        <span *ngIf="errorControl.meetingPoint.errors?.required">Pflichtfeld ausfüllen</span>
        <span *ngIf="errorControl.meetingPoint.errors?.minlength">Mindestens 4 Zeichen</span>
      </div>

      <ion-card *ngIf="loaded">
        <ion-card-header>
          <ion-card-subtitle>Rückmeldungen</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item *ngFor="let player of players | filterBy: ['participation.hasTime']: ['true', 'false', 'null']">
            <ion-label> {{ player.name }} </ion-label>
            <ion-icon slot="end"
              [color]="player.participation.hasTime ? 'success' : player.participation.hasTime == false ? 'danger' : 'primary'"
              [name]="player.participation.hasTime ? 'checkmark-circle-outline' : player.participation.hasTime == false ? 'close-circle-outline' : 'help-circle-outline'">
            </ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="loaded">
        <ion-card-header>
          <ion-card-subtitle>Spieler hinzufügen</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item *ngFor="let player of players | filterBy: ['participation']: 'not asked'" lines="none" button
            (click)="addToNewParticipantList(player)">
            <ion-label> {{ player.name }} </ion-label>
            <ion-icon slot="start" color="primary" [name]='player.new ? "remove-circle-outline" : "add-circle-outline"'>
            </ion-icon>
            <ion-chip outline color="success" *ngIf="player.new">
              <ion-label><small>Wird angefragt</small></ion-label>
            </ion-chip>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!matchForm.valid">
            Speichern</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>